body,
html {
    font-family: 'Mulish', Arial, sans-serif;
    font-size: 10px;
}

@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url("../fonts/Mulish-Regular.woff2") format('woff2')
}

@font-face {
    font-family: 'Mulish-Bold';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url("../fonts/Mulish-Bold.woff2") format('woff2')
}



@font-face {
    font-family: 'Mulish-Bold';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url("../fonts/Mulish-Medium.woff2") format('woff2')
}


body {
    font-family: 'Mulish', sans-serif;
}

.cards__wrapper {
    padding-top: 200px;
    padding-bottom: 200px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

.cards__heading {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.5;
}

.cards__text {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.6;
    color: #7D7987;

}


.cards__item {
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.7);
    border-radius: 20px;
    background-color: #FFFFFF;
    width:350px;
    padding: 40px;
}

.cards__list {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}


.cards img {
    height: 85px;
    margin-bottom: 20px;
}

.cards__heading {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.cards__text {
    text-align: left;
    font-size: 18px;
    font-weight: 300;
    color: #7D7987;
    line-height: 1.5;
}



